:root {
    --basic: #d0efff;
    --primary: #038399;
    --accent: #feb9c5;
    --warn: #b86b85;
    --shadows: #021e20;
    --dh: #24302d;
}
@font-face {
    src: url('assets/fonts/Ubuntu-Regular.ttf');
    font-family: regular;
}

select {
    /* border-radius: 8px; */
    padding: .5rem;
}
select:focus{
    outline: none;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* BUTTONS */

.btn-primary{
    background-color: var(--primary);
    border: none;
    color: var(--basic);
    padding: .5rem;
    border-radius: 4px;

}
.btn-primary:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px var(--primary);
    transition: box-shadow 300ms;

}

.btn-warn{
    background-color: var(--warn);
    border: none;
    color: var(--basic);
    padding: .5rem;
    border-radius: 4px;
}

.btn-warn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px var(--warn);
    transition: box-shadow 300ms;

}

body{
    margin: 0px;
    background-color: var(--primary);
    font-family: regular;
    position: relative;
}

.grid-template{
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 8vh 87vh 5vh; 
}

.grid-template.active{
    grid-template-columns: 100%;
}

/* SCROLL BAR */

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Set the background color of the scrollbar */
  ::-webkit-scrollbar-track {
    background-color: #B1CBD7;
    width: 5px;
    
    /* border: 1px solid var(--shadows); */
  }
  
  /* Set the color and rounded edges of the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;
    /* border-radius: 4px; */
  }
  
  /* Set the color and rounded edges of the scrollbar thumb when it is being hovered */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #7a7a7a;
    transition: background-color 300ms;
  }

/*---------------------------------------------
                    LOGIN
----------------------------------------------*/
.login-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    grid-row: 1/span 2;
    grid-column: 1/span 2;
}

.login-container.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--shadows);
    border-radius: 4px;
    color: var(--accent);
    box-shadow: 2px 2px 16px var(--shadows);
    width: 15vw;
}

.login-container.hidden {
    display: none;
}

.login-container input{
    border-radius: 4px;
    padding: .5rem;
    border-style: none;
    background-color: var(--accent);
    width: 100%;
    box-sizing: border-box;
}

.login-container input:focus{
    outline: none;
}

.reset-password-container.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--shadows);
    border-radius: 4px;
    color: var(--accent);
    box-shadow: 2px 2px 16px var(--shadows);
    width: 15vw;
}

.reset-password-container.hidden {
    display: none;
}

.reset-password-container input{
    border-radius: 4px;
    padding: .5rem;
    border-style: none;
    background-color: var(--accent);
    width: 100%;
    box-sizing: border-box;
}

.reset-password-container input:focus{
    outline: none;
}

.verification-container.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--shadows);
    border-radius: 4px;
    color: var(--accent);
    box-shadow: 2px 2px 16px var(--shadows);
    width: 15vw;
}

.verification-container.hidden {
    display: none;
}

.verification-container input{
    border-radius: 4px;
    padding: .5rem;
    border-style: none;
    background-color: var(--accent);
    width: 100%;
    box-sizing: border-box;
}

.verification-container input:focus{
    outline: none;
}

/* @media only screen and (max-width) */

/*---------------------------------------------
                    TOOL BAR
----------------------------------------------*/
.toolbar{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-column: 1 / span 2;
    padding: 0rem 1rem;
    /* border-bottom: 1px solid var(--shadows); */
    background-color: var(--primary);
    z-index: 100;
    box-shadow: 2px 2px 8px #021e20;
    color: var(--basic);

}

.toolbar-mobile{
    display: none;
}

.toolbar-tools{  
    list-style: none;
    align-self: center;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.toolbar-user{
    list-style: none;
    align-self: center;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row-reverse;
}

.tools-li:hover{
    cursor: pointer;
    color: var(--accent);
}

#select-website{
    width: 12rem;
    background-color: var(--basic);
    border-radius: 4px;
    font-family: 'Regular';
}

/*---------------------------------------------
                NOTES CONTAINER
----------------------------------------------*/
.notes-container{
    /* border: 1px solid #222; */
    background-color: var(--primary);
    padding: 2rem;
    padding-bottom: 0rem;
    overflow: auto;
    transition: width 300ms;
}

.notes-container.active{
    display: none;
}

.note{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 70% 15%;
    background-color: var(--shadows);
    /* border: 1px solid #222; */
    box-shadow: 2px 2px 8px var(--shadows);
    border-radius: 4px;
    height: 50%;
    overflow: auto;
    margin-bottom: 1rem;
}
.note-header{
    background-color: var(--accent);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.note-header input{
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
    color: var(--shadows);
    font-size: 1rem;
}

.note-header input:focus{
    outline: none;
}

.note-body{
    padding: 1rem;
}

.note-body textarea{
    resize: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--accent);
    font-family: 'Regular';
    border: none;
    line-height: 1.5;
}

.note-body textarea:focus{
    outline: none;
}

.note-footer{
    border-top: 1px solid var(--accent);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* NEW NOTE */

.new-note{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 70% 15%;
    background-color: var(--basic);
    /* border: 1px solid #222; */
    box-shadow: 2px 2px 8px var(--shadows);
    border-radius: 4px;
    height: 50%;
    overflow: auto;
    margin-bottom: 1rem;
}
.new-note-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid var(--primary);
}
.new-note-header input{
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
    color: var(--shadows);
    font-size: 1rem;
    /* font-weight: bold; */
}
.new-note-header input:focus{
    outline: none;
}

.new-note-body{
    padding: 1rem;
}

.new-note-body textarea{
    resize: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--shadows);
    font-family: 'Regular';
    border: none;
    line-height: 1.5;
}
.new-note-body textarea:focus{
    outline: none;
}
.new-note-footer{
    border-top: 1px solid var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*---------------------------------------------
                CONTENT CONTAINER
----------------------------------------------*/
.content{
    grid-column: auto;
    background-color: var(--basic);
    padding: 2rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

/* LEAD TABLE */

.lead-table-options {
    margin-bottom: .5rem;
    margin-right: 4px;
    font-size: 14px;
    text-align: right;
    color: var(--shadows);
    display: inline-block;  
}

#span-add-lead:hover{
    color: var(--warn);
    cursor: pointer;
}

#lead-table-option-okay:hover {
    color: var(--warn);
    cursor: pointer;
}

#lead-table-option-cancel:hover {
    color: var(--warn);
    cursor: pointer;
}

.lead-table{
    /* border: 1px solid black ; */
    border-collapse: collapse;
    width: 100%;
    box-shadow: 2px 2px 8px var(--shadows);
    display: table;
    table-layout: fixed;
}
.edit-lead-record:hover{
    color: var(--basic);
}

#lead_id:hover {
    color: var(--basic);
    cursor: pointer;
}

#lead_name:hover {
    color: var(--basic);
    cursor: pointer;
}

#lead_email:hover {
    color: var(--basic);
    cursor: pointer;
}

#lead_status:hover {
    color: var(--basic);
    cursor: pointer;
}

.mobile-lead-table {
    display: none;
}

.lead-table th, td {
    padding: 1rem;
    text-align: center;
}
.lead-table thead{
    background: var(--primary);
    color: var(--accent)
}

.lead-table tbody tr{
    border-top: 1px solid white;
}

.lead-table tbody td {
    padding: 12px;
}
.lead-table tbody tr:nth-child(odd){
    background-color: var(--accent);
}
.lead-table tbody tr:nth-child(even){
    background-color: var(--basic);
}

.lead-table tbody tr:hover{
    background-color: var(--shadows);
    cursor: pointer;
    color: var(--accent);
}

.lead-table tbody tr:last-child {
    background-color: var(--primary);
    color: var(--basic);
}

#delete-lead-cross:hover {
    color: var(--basic);
}

/* .add-lead td{
    height: 0;
    padding: 0;
    margin: 0;
} */

.input-manual-lead {
    border-radius: 16px;
    padding: .5rem;
    border: 1px solid var(--shadows);
    background-color: var(--basic);
}

.input-manual-lead:focus {
    outline: none;
}

.desktop-table-footer {
    /* z-index: 105; */
    position: relative;

}

.desktop-table-footer td {
    padding: 4px !important;
}

.paginationButton {
    background-color: transparent;
    color: var(--basic);
    padding: .5rem;
    border: none;
}

.paginationButton:hover {
    text-shadow: 0px 0px 8px var(--basic);
    cursor: pointer;
}

.lead-status {
    border-radius: 16px;
    background-color: var(--basic);
    text-align: center;
}

/* MODAL WINDOW */

.modal-container{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
}

.modal{
    width: 30vw;
    height: 45vh;
    background-color: var(--accent);
    border-radius: 4px;
    box-shadow: 2px 2px 16px var(--shadows);
    padding: .5rem;
    box-sizing: border-box;
}

.modal-header{
    background-color: var(--shadows);
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    color: var(--basic);
    margin-bottom: .5rem;
}

.modal-close{
    background-color: var(--warn);
    box-sizing: border-box;
    padding: 0px 4px;
    border-radius: 2px;
}

.modal-close:hover{
    box-shadow: 0px 0px 8px var(--warn);
    cursor: pointer;
    transition: box-shadow 300ms;
}

.modal-body{
    background-color: var(--shadows);
    padding-top: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 0rem;
    border-radius: 4px;
    height: 74%;
    margin-bottom: .5rem;
    box-sizing: border-box;
    overflow: hidden;
}

.modal-body-message {
    font-size: 14px;
    background-color: var(--primary);
    color: var(--accent);
    line-height: 1.5;
    font-size: small;
    border-radius: 4px;
    margin-bottom: .5rem;
}

.modal-body-message-header {
    padding: .5rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top: 1px solid var(--accent);
    border-left: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    display: flex;
    justify-content: space-between;
    height: 7%;
    font-size: small;
    color: var(--accent);
}

.modal-body-message-body {
    padding: .5rem;
    color: var(--basic);
    height: 30%;
    margin-bottom: .5rem;
    font-size: small;
    border-left: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    animation: collapse;
    box-sizing: border-box;
}



@keyframes collapse {
    0% {
        height: inherit;
    }
    100% {
        height: 0;
        padding: 0rem;
    }
}
.contracted {
    height: 0;
    padding: 0rem;
    overflow: scroll;
}

.modal-body-notes {
    height: 50%;
    overflow-y: scroll;
    margin-bottom: .5rem;
    box-sizing: border-box;
}

.lead-note{
    background-color: var(--primary);
    color: var(--basic);
    padding: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    border-radius: 4px;
    font-size: small;
    box-sizing: border-box;
}

.modal-footer{
    background-color: var(--shadows);
    border-radius: 4px;
    padding: .5rem;
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto;
    gap: .5rem;
    box-sizing: border-box;
}

.modal-footer textarea{
    grid-column: 1/2;
    box-sizing: border-box;
    background-color: var(--basic);
    border-radius: 4px;
    border-style: none;
    font-family: 'Regular';
}

.modal-footer textarea:focus{
    outline: none;
}

.modal-footer button{
    grid-column: 2/3;
    box-sizing: border-box;
}

/*---------------------------------------------
                EMAIL CAMPAIGN
----------------------------------------------*/

.mobile-email-container {
    display: none;
}

.email-container {
    display: none;
    min-height: 100%;
    max-height: 100%;
    grid-template-columns: 30% auto;
    grid-template-rows: 7% 93%;
    box-shadow: 2px 2px 8px var(--shadows);
}

.email-setup-tools{
    background-color: var(--primary);
    grid-column: 1/span 2;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-setup.active{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-right: 1px solid var(--primary);
    box-sizing: border-box;
    overflow: auto;
}

.email-setup.hidden {
    display: none;
}

.email-recipients.active {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-right: 1px solid var(--primary);
    box-sizing: border-box;
    overflow: auto;
    justify-content: space-between;
}

.email-recipients.hidden {
    display: none;
}

.email-recipients-send-container {
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-recipients-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--basic);
    padding: .5rem;
    font-size: 14px;
}

.email-recipients-body {
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
}

.email-recipients-body div {
    margin-bottom: .5rem;
    font-size: 14px;
    color: var(--shadows);
}

#correo_individual {
    padding: .5rem;
    border: none;
    border-bottom: 2px solid var(--primary);
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-family: 'Regular';
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;

}

.email-design-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--basic);
    padding: .5rem;
    font-size: 14px; 
}

.email-design-body {
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
}

.email-design-body div {
    margin-bottom: .5rem;
    font-size: 14px;
    color: var(--shadows);
}

.email-recipients .btn-warn {
    width: 160px;
    height: 3rem;
    margin: 0 auto;
    font-size: 1rem;
    border: 2px solid var(--accent);
    border-radius: 1rem;
    color: var(--accent);
    font-weight: bold;
}

.email-tools {
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: var(--basic);
    width: 100%;
}

.email-setup label{
    font-weight: bold;
    color: var(--shadows);
    font-size: 14px;
}

.email-setup label:not(:first-child){
    margin-top: 1rem;
}

.email-setup input{
    padding: .5rem;
    border: none;
    border-bottom: 2px solid var(--primary);
    margin-top: .5rem;
    /* margin-bottom: .5rem; */
    font-family: 'Regular';
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.email-default-options {
    display: flex;
}

.email-default-options div {
    width: 50%;
    margin-bottom: .5rem;
}

.email-default-options div select{
    width: 90%;
}

/* EMAIL PROMOTIONAL HEADER & BANNER */

.email-setup-promotional {
    display: none;
}

.email-promotional-header-and-banner-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--basic);
    padding: .5rem;
    font-size: 14px;
}

.email-promotional-header-and-banner-body {
    display: flex;
    flex-direction: column;
}

.email-promotional-header-and-banner-body label:first-child {
    margin-top: 1rem;
}

.email-promotional-header-and-banner-body .div-select-image:last-child{
    margin-bottom: 1rem;
}

.email-promotional-header-and-banner-body .div-select-image input{
    width: 70%;
}

/* EMAIL PROMOTIONAL FEATURES*/

.email-promotional-features-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--basic);
    padding: .5rem;
    font-size: 14px;
}

.email-promotional-features-body {
    display: flex;
    flex-direction: column;
}

.email-promotional-features-body label:first-child {
    margin-top: 1rem;
}

.email-promotional-features-body .div-select-image input{
    width: 70%;
}

/* EMAIL PROMOTIONAL BENEFITS */

.email-promotional-benefits-body {
    display: flex;
    flex-direction: column;
}

.email-promotional-benefits-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--basic);
    padding: .5rem;
    font-size: 14px;
}

.email-promotional-benefits-body label:first-child{
    margin-top: 1rem;
}

.email-promotional-benefits-body .div-select-image input{
    width: 70%;
}

/* EMAIL PROMOTIONAL SOCIAL */

.email-promotional-social-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--basic);
    padding: .5rem;
    font-size: 14px;
}

.email-promotional-social-body {
    display: flex;
    flex-direction: column;
}

.email-promotional-social-body label:first-child {
    margin-top: 1rem;
}

.email-promotional-social-body input:last-child {
    margin-bottom: 1rem;
}

/* EMAIL PROMOTIONAL CONTACT */

.email-promotional-contact-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--basic);
    padding: .5rem;
    font-size: 14px;
}

.email-promotional-contact-body {
    display: flex;
    flex-direction: column;
}

.email-promotional-contact-body .div-select-image input{
    width: 70%;
}

.email-promotional-contact-body label:first-child{
    margin-top: 1rem;
}

/* EMAIL NEWSLETTER HEADER & BANNER */

.email-setup-newsletter {
    display: none;
}

.email-newsletter-header-and-banner-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--basic);
    padding: .5rem;
    font-size: 14px; 
}

/* EMAIL NEWSLETTER INTRODUCTION */

.email-newsletter-introduction-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--basic);
    padding: .5rem;
    font-size: 14px; 
}

.email-newsletter-introduction-body {
    display: flex;
    flex-direction: column;
}

.email-newsletter-introduction-body label:first-child {
    margin-top: 1rem;
}

.email-newsletter-introduction-body textarea {
    margin-bottom: 1rem !important;
}

/* EMAIL NEWSLETTER CONTENT */

.email-newsletter-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--basic);
    padding: .5rem;
    font-size: 14px; 
}

.email-newsletter-content-body {
    display: flex;
    flex-direction: column;
}

.email-newsletter-content-body .div-select-image input{
    width: 70%;
}

.email-newsletter-content-body label{
    display: inline-block;
    margin-top: 1rem;
}

.email-newsletter-content input:not(:first-child) {
    margin-bottom: 1rem;
}

/* EMAIL NEWSLETTER SOCIAL */

.email-newsletter-social-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--basic);
    padding: .5rem;
    font-size: 14px; 
}

.email-newsletter-contact-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--basic);
    padding: .5rem;
    font-size: 14px; 
}

/* EMAIL NO TEMPLATE SELECTED */

.email-no-template-selected {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-no-template-selected span {
    margin-top: 50%;
    color: var(--primary);
}

.div-select-image{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.div-select-image input{
    width: 75%;
}
.div-select-image .btn-primary {
    margin-top: .5rem;
}
.email-setup input:focus{
    outline: none;
}

.email-setup textarea{
    margin: .5rem 0rem;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: 'Regular';
    padding: .5rem;
    height: 4rem;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    resize: none;
}

.email-setup textarea:focus{
    outline: none;
}

.email-preview{
    padding: 1rem;
    grid-row: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-setup select{
    background-color: #ffffff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: 70%;
    border: none;
    border-bottom: 2px solid var(--primary);
}

#div-email-preview{
    width: 100%;
    height: 100%;
    border: solid 2px var(--primary);
    border-radius: 4px;
    box-sizing: border-box;
    padding: .5rem;
    overflow: auto;
}

#iframe-preview{
    width: 100%;
    height: 100%;
    border: solid 2px var(--primary);
    border-radius: 4px;
    box-sizing: border-box;
    padding: .5rem;
    overflow: auto;
    transition: all 300ms;
}

.email-custom-editor-container {
    display: none;
}

.email-custom-editor-container.active{
    display: block;
    padding: 1rem;
    border-right: 1px solid var(--primary);
}

.email-custom-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.email-custom-editor label{
    margin-bottom: 1rem;
}

.email-custom-editor textarea{
    padding: .5rem;
    border: 1px solid var(--shadows);
    font-size: 14px;
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 4px;
    background-color: var(--primary);
    color: var(--basic);
    box-shadow: 2px 2px 6px var(--shadows);
}

.email-custom-editor textarea::placeholder {
    color: var(--shadows);
}

.email-custom-editor textarea:focus{
    outline: none;
}

/* MODAL EMAIL STATUS */

.modal-email-status {
    display: none; 
    position: fixed; 
    z-index: 101; 
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    
}

.email-status-dialog {
    background-color: var(--basic);
    width: 20vw;
    height: 30vh;
    box-shadow: 4px 4px 16px var(--shadows);
    border-radius: 4px;
    background-color: #feb9c5;
    padding: .5rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 17% 65% 18%;
}

.email-status-header{
    background-color: var(--shadows);
    padding: .5rem;
    border-radius: 4px;
    color: var(--basic);
    display: flex;
    margin-bottom: .5rem;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/2;
    grid-row: 1/2;
}

.email-status-body{
    padding: 1rem;
    color: var(--basic);
    background-color: var(--shadows);
    border-radius: 4px;
    margin-bottom: .5rem;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    grid-column: 1/2;
    grid-row: 2/3;
}

#email-sending-status {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email-delivery-results {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#failed-mails-container {
    background-color: #b86b85;
    border-radius: 4px;
    width: 100%;
    padding: .5rem;
    overflow-y: scroll;
}

#failed-mails-container ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* #failed-mails-container li{

    
} */


.email-status-footer {
    background-color: var(--shadows);
    border-radius: 4px;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/2;
    grid-row: 3/4;
}

.email-status-footer button{
    width: 49%;

}


/*---------------------------------------------
                    FOOTER
----------------------------------------------*/

.footer{
    color: var(--basic);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding-left: 1rem;
}

.footer span{
    align-self: center;
}

.footer{
    grid-column: 1/3;
    border: 1px solid #222;
    background-color: var(--shadows);
    
}

/*---------------------------------------------
            MODAL IMAGE SELECT
----------------------------------------------*/

.modal-image-container{
    display: none; 
    position: fixed; 
    z-index: 101; 
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

.modal-image{
    /* height: 20vh; */
    width: 30vw;
    background-color: #feb9c5;
    padding: .5rem;
    box-shadow: 4px 4px 16px var(--shadows);
    border-radius: 4px;
}

.modal-image-header{
    background-color: var(--shadows);
    padding: .5rem;
    border-radius: 4px;
    color: var(--basic);
    display: flex;
    margin-bottom: .5rem;
    flex-direction: row;
    justify-content: space-between;
}

.modal-image-body{
    padding: 1rem;
    color: var(--basic);
    background-color: var(--shadows);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row: auto;
    overflow: auto;
    margin-bottom: .5rem;
    height: 30vh;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.image-preview{
    padding: 3px .5rem .5rem .5rem;
    text-align: left;
    margin-bottom: 1rem;
    
}

.image-preview span {
    color: var(--basic);
}

.image-preview span:hover {
    display: block;
    color: var(--accent);
}

.image-preview:hover {
    background-color: rgba(254,185,197,0.5);
    border-radius: 4px;
    cursor: pointer;
}

.modal-image-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% auto;
    background-color: var(--shadows);
    border-radius: 4px;
    row-gap: .5rem;
    padding: .5rem;
    align-content: center;
}

.modal-image-footer-row {
    display: grid;
    grid-template-columns: 90% auto;
    grid-template-rows: 1fr;
    column-gap: .5rem;

    height: 100%;
}

/* .modal-image-footer-row:last-child{
    margin-top: .5rem;
} */

.modal-image-footer input[type="file"] {
    display: none;
}

.modal-image-footer label {
    color: var(--basic);
    transition: all 300ms;
    align-self: center;
    /* justify-self: center; */
}

.modal-image-footer input {
    border-radius: 4px;
    border: none;
}

.modal-image-footer input:focus {
    outline: none;
}

.modal-image-footer label:hover {
    color: var(--accent);
    text-shadow: 0px 0px 8px var(--warn);
    transition: text-shadow 300ms;
    cursor: pointer;

}

/*---------------------------------------------
                TOAST NOTE SAVED
----------------------------------------------*/

.note-saved-toast {
    width: 300px;
    padding: 1rem;
    background-color: greenyellow;
    box-shadow: 0px 0px 16px var(--shadows);
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    bottom: -10%;
    transition: all 600ms;
   
}

.note-saved-toast.active {
    display: block;
    transition: all 600ms;
    opacity: 1;
    bottom: 10%
    /* z-index: 110; */

}

/*---------------------------------------------
                LOADING MODAL
----------------------------------------------*/

.loading-modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
    color: var(--accent);
}

/*---------------------------------------------
                MEDIA QUERIES
----------------------------------------------*/

@media only screen and (max-width: 1200px) {
    .grid-template {
      height: 100vh;
      width: 100vw;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 12vh 36vh 47vh 5vh;
    }

    .grid-template.no-notes {
        grid-template-rows: 12vh 0vh auto 5vh;
    }

    .login-container.active {
        width: 70vw;
    }
  
    .toolbar {
        display: none;
    }

    .toolbar-mobile {
        display: flex;
        flex-direction: column;
        z-index: 100;
        box-shadow: 4px 0px 8px var(--shadows);
        border-bottom: 1px solid var(--shadows);
    }

    .top-tools {
        width: 100%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* box-shadow:4px 0px 8px var(--shadows); */
        /* padding: 10px 0px; */
    }

    #mobile-select-website {
        font-size: 12px;
        width: 25vw;
        background-color: var(--basic);
        border-radius: 15px;
    }

    .top-tools ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        list-style: none;
        justify-content: space-between;
        margin: 12px 12px;
        font-size: 12px;
        color: var(--basic);
    }

    .bottom-tools {
        width: 100%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .bottom-tools ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        list-style: none;
        margin: 0px;
    }

    .bottom-tools ul li {
        margin: 0px 30px;
    }
  
    .notes-container {
      grid-column: 1;
      grid-row: 2;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .notes-container form {
        margin-bottom: 2rem;
    }
  
    .new-note {
        height: 100%;
        margin-right: 1rem;
        width: 200px;
    }

    .new-note-header input{
        font-size: 10px;
    }

    .new-note-body textarea{
        font-size: 10px;
    }

    .new-note .btn-primary{
        font-size: 10px;
        padding: 5px;
    }

    .note{
        height: 100%;
        margin-right: 1rem;
        width: 200px;
    }

    .note-header input{
        font-size: 10px;
    }

    .note-body textarea{
        font-size: 10px;
    }

    .note .btn-primary, .btn-warn{
        font-size: 10px;
        padding: 2px;
        width: 60px;
    }

    .content {
      grid-column: 1;
      grid-row: 3;
      padding: 1rem;
    }

    /* LEAD TABLE MOBILE */

    .lead-table {
        font-size: 10px;
        width: 100%;
        display: none;
    }

    .mobile-lead-table {
        display: table;
        /* border: none; */
        width: 100%;
        font-size: 12px;
        box-shadow: 2px 2px 8px var(--shadows);
        border-collapse: collapse;
    }

    .mobile-lead-table td, th{
        /* border: none; */
        padding: 0px;
        margin: 0px;
        font-size: 12px;
        border-spacing: 2px;
    }

    .edit-lead-record:hover{
        color: var(--basic);
    }

    .td-fixed-size {
        width: 30%;
    }

    .mobile-lead-table th {
        background-color: var(--primary);
        padding: .5rem;
        color: var(--basic);
    }

    .mobile-lead-table tr {
        border: none;
    }

    .mobile-lead-table tr:nth-child(even) {
        background-color: var(--basic);
    
    }

    .mobile-lead-table tr:nth-child(odd) {
        background-color: var(--accent);

    }

    /* INNER TABLE */

    .mobile-lead-table table{
        padding: 0px;
        margin: 0px;
        border: none;
        border-collapse: collapse;
        width: 100%;
    }

    .mobile-lead-table table td {
        padding: 6px 0px;
    }

    .mobile-lead-table table tr:nth-child(even) {
        background-color: var(--accent);
        border: none;
        color: var(--shadows);
    }

    .mobile-lead-table table tr:nth-child(odd) {
        background-color: var(--warn);
        border: none;
        color: var(--basic);
    }

    .mobile-table-footer {
        background: var(--primary) !important;
        color: var(--basic);
    }

    /* MODAL LEAD NOTES */

    .modal {
        width: 90vw;
    }
    
    .modal-header {
        background-color: var(--shadows);
        padding: .5rem;
        display: flex;
        justify-content: space-between;
        border-radius: 4px;
        color: var(--basic);
        margin-bottom: .5rem;
    }
    
    .modal-close {
        background-color: var(--warn);
        box-sizing: border-box;
        padding: 0px 4px;
        border-radius: 2px;
    }

    .modal-close:hover {
        box-shadow: 0px 0px 8px var(--warn);
        cursor: pointer;
        transition: box-shadow 300ms;
    }

    .modal .btn-warn {
        width: auto;
    }

/*---------------------------------------------
                MOBILE EMAIL 
----------------------------------------------*/

    .email-container {
        display: none;
    }

    .mobile-email-container {
        display: none;
    }

    .mobile-email-settings {
        background-color: transparent;
        box-shadow: 2px 2px 16px var(--shadows);
    }

    /* DEFAULT EMAIL CSS */

    .mobile-email-default-options-header {
        background-color: var(--primary);
        color: var(--basic);
        padding: .5rem;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--basic);
        
    }

    .mobile-email-default-options-body {
        max-height: 1000px;
        background-color: var(--basic);
        color: var(--shadows);
        padding: .5rem;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 12px;
        display: flex;
        column-gap: .5rem;
        transition: max-height 500ms;
    }

    .mobile-email-default-options-body label:first-child{
        margin-top: .5rem;
    }

    .mobile-email-default-options-body.hidden {
        max-height: 0px;
        overflow: hidden;
        margin: 0px;
        transition: max-heigth 500ms;
    }

    .mobile-email-default-options-body div {
        width: 50%;
    }

    .mobile-email-default-options-body select {
        padding: 4px;
        margin: 0px;
        border: none;
        width: 100%;
        margin-bottom: .5rem;
    }

    .mobile-email-default-options-body label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    /* PROMOTIONAL EMAIL HEADER & BANNER */

    .mobile-email-promotional-header-and-banner-header {
        background-color: var(--primary);
        color: var(--basic);
        padding: .5rem;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--basic);
    }

    .mobile-email-promotional-header-and-banner-body {
        background-color: var(--basic);
        color: var(--shadows);
        padding: .5rem;
        font-size: 12px;
        max-height: 200px;
        transition: max-height 500ms;
        padding-top: 0px;
        padding-bottom: 0px;
        overflow: hidden;
        
    }

    .mobile-email-promotional-header-and-banner-body label:first-child{
        margin-top: .5rem;
    }

    .mobile-email-promotional-header-and-banner-body.hidden {
        max-height: 0px;
        transition: max-height 500ms;
        overflow: hidden;
        margin: 0px;        
    }

    .mobile-email-promotional-header-and-banner-body input {
        padding: 4px;
        margin: 0px;
        border: none;
        width: 100%;
        margin-bottom: .5rem;
    }

    .mobile-email-promotional-header-and-banner-body label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .mobile-email-promotional-header-and-banner-body .btn-primary {
        font-size: 10px;
        margin-left: .5rem;
        margin-bottom: .5rem;
    }

    /* PROMOTIONAL EMAIL FEATURES */

    .mobile-email-promotional-features-header {
        background-color: var(--primary);
        color: var(--basic);
        padding: .5rem;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--basic);
    }

    .mobile-email-promotional-features-body {
        background-color: var(--basic);
        color: var(--shadows);
        padding: .5rem;
        font-size: 12px;
        transition: max-height 800ms;
        max-height: 1000px;
        padding-top: 0px;
        padding-bottom: 0px;
        overflow: hidden;
    }

    .mobile-email-promotional-features-body label:first-child{
        margin-top: .5rem;
    }

    .mobile-email-promotional-features-body.hidden {
        max-height: 0px;
        transition: max-height 800ms;
        overflow: hidden;
        margin: 0px;
    }

    .mobile-email-promotional-features-body input {
        padding: 4px;
        margin: 0px;
        border: none;
        width: 100%;
        margin-bottom: .5rem;
    }

    .mobile-email-promotional-features-body label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .mobile-email-promotional-features-body .btn-primary {
        font-size: 10px;
        margin-left: .5rem;
        margin-bottom: .5rem;
    }

    /* PROMOTIONAL EMAIL BENEFITS */

    .mobile-email-promotional-benefits-header {
        background-color: var(--primary);
        color: var(--basic);
        padding: .5rem;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--basic);
    }

    .mobile-email-promotional-benefits-body {
        background-color: var(--basic);
        color: var(--shadows);
        padding: .5rem;
        font-size: 12px;
        transition: max-height 800ms;
        max-height: 1000;
        padding-top: 0px;
        padding-bottom: 0px;
        overflow: hidden;
    }

    .mobile-email-promotional-benefits-body label:first-child{
        margin-top: .5rem;
    }

    .mobile-email-promotional-benefits-body.hidden {
        max-height: 0px;
        transition: max-height 800ms;
        overflow: hidden;
        margin: 0px;
    }

    .mobile-email-promotional-benefits-body input {
        padding: 4px;
        margin: 0px;
        border: none;
        width: 100%;
        margin-bottom: .5rem;
    }

    .mobile-email-promotional-benefits-body label {
        display: inline-block;
        margin-bottom: .5rem;
    }
    
    .mobile-email-promotional-benefits-body .btn-primary {
        font-size: 10px;
        margin-left: .5rem;
        margin-bottom: .5rem;
    }
    
    /* PROMOTIONAL EMAIL SOCIAL LINKS */

    .mobile-email-promotional-social-header {
        background-color: var(--primary);
        color: var(--basic);
        padding: .5rem;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--basic);
    }

    .mobile-email-promotional-social-body {
        max-height: 1000px;
        background-color: var(--basic);
        color: var(--shadows);
        padding: .5rem;
        font-size: 12px;
        transition: max-height 500ms;
        overflow: hidden;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .mobile-email-promotional-social-body.hidden {
        max-height: 0px;
        transition: max-height 500ms;
        overflow: hidden;
        margin: 0px;
    }

    .mobile-email-promotional-social-body label:first-child{
        margin-top: .5rem;
    }

    .mobile-email-promotional-social-body input {
        padding: 4px;
        margin: 0px;
        border: none;
        width: 100%;
        margin-bottom: .5rem;
    }

    .mobile-email-promotional-social-body label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    /* PROMOTIONAL EMAIL CONTACT */

    .mobile-email-promotional-contact-header {
        background-color: var(--primary);
        color: var(--basic);
        padding: .5rem;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--basic);
    }

    .mobile-email-promotional-contact-body {
        max-height: 1000px;
        overflow: hidden;
        background-color: var(--basic);
        color: var(--shadows);
        padding: .5rem;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 12px;
        transition: max-height 500ms;
    }

    .mobile-email-promotional-contact-body.hidden {
        max-height: 0px; 
        overflow: hidden;
        margin: 0px;
        transition: max-height 500ms;
    }

    .mobile-email-promotional-contact-body label:first-child{
        margin-top: .5rem;
    }

    .mobile-email-promotional-contact-body input {
        padding: 4px;
        margin: 0px;
        border: none;
        width: 100%;
        margin-bottom: .5rem;
    }

    .mobile-email-promotional-contact-body label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .mobile-email-promotional-contact-body .btn-primary {
        font-size: 10px;
        margin-left: .5rem;
        margin-bottom: .5rem;
    }

    /* NEWSLETTER EMAIL HEADER & BANNER */

    .mobile-email-newsletter-header-and-banner-header {
        background-color: var(--primary);
        color: var(--basic);
        padding: .5rem;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--basic);
    }

    .mobile-email-newsletter-header-and-banner-body {
        background-color: var(--basic);
        color: var(--shadows);
        padding: .5rem;
        font-size: 12px;
        max-height: 200px;
        transition: max-height 500ms;
        padding-top: 0px;
        padding-bottom: 0px;
        overflow: hidden;
        
    }

    .mobile-email-newsletter-header-and-banner-body label:first-child{
        margin-top: .5rem;
    }

    .mobile-email-newsletter-header-and-banner-body.hidden {
        max-height: 0px;
        transition: max-height 500ms;
        overflow: hidden;
        margin: 0px;        
    }

    .mobile-email-newsletter-header-and-banner-body input {
        padding: 4px;
        margin: 0px;
        border: none;
        width: 100%;
        margin-bottom: .5rem;
    }

    .mobile-email-newsletter-header-and-banner-body label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .mobile-email-newsletter-header-and-banner-body .btn-primary {
        font-size: 10px;
        margin-left: .5rem;
        margin-bottom: .5rem;
    }

    /* NEWSLETTER EMAIL INTRODUCTION */

    .mobile-email-newsletter-introduction-header {
        background-color: var(--primary);
        color: var(--basic);
        padding: .5rem;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--basic);
    }

    .mobile-email-newsletter-introduction-body {
        background-color: var(--basic);
        color: var(--shadows);
        padding: .5rem;
        font-size: 12px;
        max-height: 1000px;
        transition: max-height 500ms;
        padding-top: 0px;
        padding-bottom: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column; 
    }

    .mobile-email-newsletter-introduction-body.hidden {
        max-height: 0px;
        transition: max-height 500ms;
        overflow: hidden;
        margin: 0px;
    }

    .mobile-email-newsletter-introduction-body label {
        display: inline-block;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .mobile-email-newsletter-introduction-body input {
        padding: 4px;
        margin: 0px;
        border: none;
        width: 100%;
        margin-bottom: .5rem;
    }

    .mobile-email-newsletter-introduction-body textarea {
        margin-bottom: .5rem;
        padding: 4px;
        border: none;
        width: 100%;
        margin-bottom: .5rem;

    }

    /* NEWSLETTER EMAIL CONTENT */

    .mobile-email-newsletter-content-header {
        background-color: var(--primary);
        color: var(--basic);
        padding: .5rem;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--basic);
    }

    .mobile-email-newsletter-content-body {
        background-color: var(--basic);
        color: var(--shadows);
        padding: .5rem;
        font-size: 12px;
        max-height: 1200px;
        transition: max-height 500ms;
        padding-top: 0px;
        padding-bottom: 0px;
        overflow: hidden;
        
    }

    .mobile-email-newsletter-content-body.hidden {
        max-height: 0px;
        transition: max-height 500ms;
        overflow: hidden;
        margin: 0px;
    }

    .mobile-email-newsletter-content-body label {
        display: inline-block;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .mobile-email-newsletter-content-body input {
        padding: 4px;
        margin: 0px;
        border: none;
        width: 78%;
    }

    .mobile-email-newsletter-content-body textarea {
        margin-top: .5rem;
        padding: 4px;
        border: none;
        width: 100%;
        margin-bottom: .5rem;
        resize: none;
    }

    .mobile-email-newsletter-content-body .btn-primary {
        /* margin-bottom: .5rem; */
        font-size: 10px;
    }

    /* NEWSLETTER EMAIL SOCIAL */

    .mobile-email-newsletter-social-header {
        background-color: var(--primary);
        color: var(--basic);
        padding: .5rem;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--basic);
    }

    .mobile-email-newsletter-social-body {
        background-color: var(--basic);
        color: var(--shadows);
        padding: .5rem;
        font-size: 12px;
        max-height: 200px;
        transition: max-height 500ms;
        padding-top: 0px;
        padding-bottom: 0px;
        overflow: hidden;   
    }

    .mobile-email-newsletter-social-body.hidden {
        max-height: 0px;
        transition: max-height 500ms;
        overflow: hidden;
        margin: 0px;
    }

    .mobile-email-newsletter-social-body label:first-child{
        margin-top: .5rem;
    }

    .mobile-email-newsletter-social-body input {
        padding: 4px;
        margin: 0px;
        border: none;
        width: 100%;
        margin-bottom: .5rem;
    }

    .mobile-email-newsletter-social-body label {
        display: inline-block;
        margin-bottom: .5rem;
    }
    
    /* NEWSLETTER EMAIL CONTACT */

    .mobile-email-newsletter-contact-header {
        background-color: var(--primary);
        color: var(--basic);
        padding: .5rem;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border-bottom: 1px solid var(--basic); */
    }

    .mobile-email-newsletter-contact-body {
        background-color: var(--basic);
        color: var(--shadows);
        padding: .5rem;
        font-size: 12px;
        max-height: 1000px;
        transition: max-height 500ms;
        padding-top: 0px;
        padding-bottom: 0px;
        overflow: hidden;    
    }

    .mobile-email-newsletter-contact-body.hidden {
        max-height: 0px;
        transition: max-height 500ms;
        overflow: hidden;
        margin: 0px;
    }

    .mobile-email-newsletter-contact-body label:first-child{
        margin-top: .5rem;
    }

    .mobile-email-newsletter-contact-body input {
        padding: 4px;
        margin: 0px;
        border: none;
        width: 100%;
        margin-bottom: .5rem;
    }

    .mobile-email-newsletter-contact-body label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .mobile-email-newsletter-contact-body .btn-primary {
        font-size: 10px;
        margin-left: .5rem;
        margin-bottom: .5rem;
    }

    .modal-image {
        width: 90vw;
    }

    .modal-image-body {
        grid-template-columns: 50% 50%;
    }

    .modal-image-footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% auto;
    }

    .modal-image-footer-row {
        grid-template-columns: 80% auto;
        grid-template-rows: 1fr;
    }

    .modal-image-footer-row label {
        font-size: 12px;
    }

    /* #mobile-div-email-preview{
        width: 100%;
        height: 100%;
        border: solid 2px var(--primary);
        border-radius: 4px;
        box-sizing: border-box;
        padding: .5rem;
        overflow: auto;
    } */

    .email-preview {
        display: none;
    }

    .mobile-email-preview{
        padding: 1rem;
        grid-row: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
        max-height: 60vh;
        overflow: hidden;
        transition: all 500ms;
    }

    .mobile-email-preview.hidden {
        max-height: 0px;
        transition: all 500ms;
        padding: 0px;
    }

    .mobile-email-preview-header {
        background-color: var(--primary);
        color: var(--basic);
        padding: .5rem;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--basic);
    }


    .note-saved-toast {
        width: 200px;
        box-shadow: 0px 0px 16px var(--shadows);
        border-radius: 8px;
        font-size: 12px;
        text-align: center;
        opacity: 0;
        display: block;
        right: 0%;
        left: 0%;
        bottom: 10%;
        position: absolute;
    
    }
    
    .note-saved-toast.active {
        display: block;
        transition: opacity 600ms;
        opacity: 1;
    }

/*---------------------------------------------
                    FOOTER
----------------------------------------------*/

    .footer {
      grid-column: 1;
      grid-row: 4;
      font-size: 12px;
    }

  }
  
  
  
  
  






















































